@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    line-height: 1.4;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;

}



nav{
    background-color: #281154;
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 12px;
    max-width: 1200px;
    margin: 0 auto;  

}
.logo{
    font-size: 32px;
    font-weight: 600;
}
ul{
    list-style: none;
}
nav ul{
    display: flex;
    gap: 20px;
}

